* {
  margin: 0;
  padding: 0;
}

.header {
  width: 100%;
  position: fixed;
  top: 0px;
  left: 0px;
  z-index: 1;
  /* border: 1px red solid; */
}

.body {
  height: auto;
  min-height: 680px;
  background-color: #f4f4f4;
  margin: 0px auto;
  padding: 0px 100px;
}

a {
  color: #738392;
  text-decoration: none;
  background-color: transparent;
  outline: none;
  cursor: pointer;
  transition: color 0.3s;
}

@media (min-width: 300px) and (max-width: 600px) {
}

.footer {
  width: 100%;
  height: 100px;
  position: inherit;
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: rgb(26, 26, 26);
  cursor: pointer;
  transition: border-color 0.25s;
}

button:hover {
  border-color: #7bc3ef;
}

@media (prefers-color-scheme: light) {
}
